@{
    ViewBag.Title = "Vote";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <h1 class="text-center">Available Questions to Vote On</h1>
    @using (var questions = new VoteContext())
    {
        var listOfQuestions = questions.AskedQuestions.ToList();
        foreach (var question in listOfQuestions)
        {
            var user = User.Identity.Name;
            var asked = questions.UserVotes.SingleOrDefault(x => x.UserId == user && x.QuestionsId == question.Id);
    <div class="col-md-4">
        <h3>@question.Question</h3>
        <p>Total Votes: @question.Votes</p>
        <p>Yes: @question.For</p>
        <p>No: @question.Against</p>
        @if (asked == null)
    {
        using (Html.BeginForm())
        {
            @Html.Hidden("UserId", User.Identity.Name);
        @Html.Hidden("Question", question.Question);
    <button type="submit" class="btn btn-success" name="Vote" value="Yes">Yes</button>
    <button type="submit" class="btn btn-warning" name="Vote" value="No">No</button>
}
}
else
{
    <p>
        You voted: @asked.Vote
    </p>
}
    </div>
        }
    }
</div>